# server
server/node_modules


# examples
## component
examples/component/node_modules
examples/component/components
examples/component/build

## duo
examples/duo/node_modules
examples/duo/components
examples/duo/build

## browserify
examples/browserify/node_modules
examples/browserify/build
examples/browserify/fpm/node_modules